
@font-face {
    font-family: 'Lato-Regular';
    src: url(assets/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Black';
    src: url(assets/Lato-Black.ttf);   
}
@font-face {
    font-family: 'Lato-Light';
src: url(assets/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
src: url(assets/Lato-Bold.ttf);
}
.containerSingolo1 {
    display: grid;
    max-width: 1020px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    grid-template-areas: "header header header"
                        "left slider right"
                        "describe describe describe"   
                       "footer footer footer";
    grid-template-columns: 60px 890px 70px;
    grid-template-rows: 95px 600px 210px 283px;
    border-bottom: 6px solid #fff;
    
}

.containerSingolo1 .header {
 grid-area: header;
 display: grid;   
 grid-template-columns: 180px 840px;
 grid-template-areas: "logo navigation";
 background-color: #2d303a;
 border-bottom: 6px solid #323746 ;
 
}
.containerSingolo1 .logo {
    grid-area: logo;
    padding-left: 40px;
    padding-top: 12px;
}
.containerSingolo1 .logo h1 {
    font-family: 'Lato-Bold';
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}
.containerSingolo1 .logo h1::after {
    content: "*";
    color: #ea676b;
}
.containerSingolo1 .navigation {
    grid-area: navigation;
    justify-self: end;
    padding-top: 23px;
    padding-right: 39px;
    }
.containerSingolo1 .nav {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
   
    }

.containerSingolo1 .nav  li a {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 12px;
    color: #fff;
   text-decoration: none;
}
.containerSingolo1  .nav li {
       padding-left: 15px;
       margin-left: 14px;
       position: relative;
   }
.containerSingolo1  .nav li::before {
       display: block;
       content: '';
       width: 3px;
       height: 3px;
       top: 50%;
       background-image: url(assets/point.png);
       position: absolute;
       left: 0px;
      }
.containerSingolo1 .nav li:first-child::before{
        display: none;
    }
.containerSingolo1 .nav li:first-child{
        padding-left: 0px;
        margin-left: 0px;  
    }
.containerSingolo1 .nav li:hover a {
       color: #f06c64;
   }
.containerSingolo1 .left {
    grid-area: left;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-left: 42px;
    padding-top: 281px;
} 
.containerSingolo1 .left img:hover {
    filter: brightness(0.4);
}

  
.containerSingolo1 .slider {
 grid-area: slider;
 background-color: #f06c64;
 padding-left: 52px;
 padding-top: 53px;
 border-bottom: 6px solid #ea676b
}
.containerSingolo1 .right {
    grid-area: right;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-left: 14px;
    padding-top: 281px;
}
.containerSingolo1 .right img:hover {
    filter: brightness(0.4);
}
.containerSingolo1 .describe {
    grid-area: describe;
    background-color: #f2f2f2;
}
.containerSingolo1 .describe h2 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #666d89;
    padding-left: 40px;
    padding-top: 34px;
    margin-bottom: 0;
}
.containerSingolo1 .describe p {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: #9ca1b6;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 30px;
    letter-spacing: -0.01px;
}
 .containerSingolo1 .footer {
     
    grid-area: footer;
    display: grid;
    grid-template-areas: "pencil item1  ideas item2 love item3 "
                         "iphone item4 support item5 star item6 ";
    grid-template-columns: 110px 240px 80px 240px 80px 270px;
    grid-template-rows: 130px 153px; 
    
 }
 .containerSingolo1 .footer p {
     font-family: 'Lato-Regular', sans-serif;
     color: #767e9e;
     font-size: 12px;
     line-height: 20.9px;
     margin-top: 10px;
 }


.containerSingolo1 .footer h3 {
   font-family: 'Lato-Black', sans-serif;
   color: #666d89;
   font-size: 18px;
   margin: 0 auto;
   position: relative;
} 
.containerSingolo1 .pencil  {
    grid-area: pencil;
    background-color: #f2f2f2;
    padding-left: 41px;
    padding-top: 10px;
}
.containerSingolo1 .item1 {
    grid-area: item1;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 7px;
}

.containerSingolo1 .ideas {
    grid-area: ideas;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 10px;
}
.containerSingolo1 .item2 {grid-area: item2;background-color: #f2f2f2;padding-left: 9px;padding-top: 6px;}

.containerSingolo1 .love {
    grid-area: love;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 10px;
}
.containerSingolo1 .item3 {
    grid-area: item3;
    background-color: #f2f2f2;
    padding-left: 11px;
    padding-top: 7px;
    padding-right: 19px;
}

.containerSingolo1 .iphone {
    grid-area: iphone;
    background-color: #f2f2f2;
    padding-left: 41px;
    padding-top: 3px;
}
.containerSingolo1 .item4 {
    grid-area: item4;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 0px;
}

.containerSingolo1 .support {
    grid-area: support;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 3px;
}
.containerSingolo1 .item5 {
    grid-area: item5;
    background-color: #f2f2f2;
    padding-left: 8px;
    padding-right: 4px;
}

.containerSingolo1 .star {
    grid-area: star;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 3px;
}
.containerSingolo1 .item6 {
    grid-area: item6;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 46px;
}
.containerSingolo2 {
    display: grid;
    max-width: 1020px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    grid-template-areas: "portfolio"
                         "AboutUs";
    grid-template-columns: 1020px;
    grid-template-rows: 870px 734px;


}
.containerSingolo2 .portfolio {
    display: grid;
    grid-area: portfolio;
    grid-template-areas: " header header header header"
                         " describe describe describe describe"
                           "navigation navigation navigation navigation "
                          " image01 image02 image03 image04"
                          " image05 image06 image07 image08"
                          " image09 image10 image11 image12";                   
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    grid-template-columns: 270px 240px 240px 270px;
    grid-template-rows: 90px 56px 50px 189px 207px 278px;  
}
.containerSingolo2 .header {
    grid-area: header;
    padding-left: 40px;
    padding-top: 41px;
}
.containerSingolo2 .header h1 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #666d89;
    letter-spacing: -0.2px;
}
.containerSingolo2 .describe {
    grid-area: describe;
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 40px;
}
.containerSingolo2 .describe p {
    padding-top: 14px;
    font-family: 'Lato-Light',sans-serif;
    font-size: 18px;
    color: #767e9e;
    margin-top: 0;
    letter-spacing: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.containerSingolo2 .navigation {
    grid-area: navigation;
    margin-top: 0px;
}
.containerSingolo2 .nav {
    display: flex;
    list-style-type: none;
    margin-top: 0px;
    padding-top: 9px;
}
.containerSingolo2 .nav  li {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-family: 'Lato-Regular', sans-serif;
    color: #767e9e;
    font-size: 12px;
}
.containerSingolo2 .nav  li a {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    color: #767e9e;
    text-decoration: none;
    line-height: 14.1px;
}
.containerSingolo2 .nav li:hover  {
    border-color: #c5c5c5;
}
.containerSingolo2 .nav li:hover a {
    color: #dedede;
}
.containerSingolo2 .all {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 7px;
    margin-left: 1px;
    margin-right: 0px;
}
.containerSingolo2 .web {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 7px;
    margin-left: -2px;
    letter-spacing: 0.25px;
}
.containerSingolo2 .graphic {
    margin-left: -2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 4px;
}
.containerSingolo2 .art {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 5px;
    margin-left: -2px;
}
.containerSingolo2 .image01 {
  grid-area: image01;
  padding-left: 40px;  
}

.containerSingolo2 .image02 {
    grid-area: image02;
    padding-left: 10px;
  }
.image03 {
    grid-area: image03;
    padding-left: 10px;
}
.containerSingolo2 .image04 {
    grid-area: image04;
    padding-left: 10px;
}
.containerSingolo2 .image05 {
    grid-area: image05;
    padding-left: 40px;
    padding-top: 18px;
}
.containerSingolo2 .image06 {
    grid-area: image06;
    padding-left: 10px;
    padding-top: 18px;
}
.containerSingolo2 .image07 {
    grid-area: image07;
    padding-left: 10px;
    padding-top: 18px;
}
.containerSingolo2 .image08 {
    grid-area: image08;
    padding-left: 10px;
    padding-top: 18px;
}
.containerSingolo2 .image09 {
    grid-area: image09;
    padding-left: 40px;
    padding-top: 18px;
}
.containerSingolo2 .image10 {
    grid-area: image10;
    padding-left: 10px;
    padding-top: 18px;
}
.containerSingolo2 .image11 {
    grid-area: image11;
    padding-left: 10px;
    padding-top: 18px;
}
.containerSingolo2 .image12 {
    grid-area: image12;
    padding-left: 10px;
    padding-top: 18px;
}
.containerSingolo2 .AboutUs {
    display: grid;
    grid-area: AboutUs;
    grid-template-areas: 
                         " describe describe describe "
                          " foto01 foto02 foto03"
                          " Adam Desmond Scolara"
                          " socialAdam socialDesmond socialScolara";                   
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    grid-template-columns: 350px 320px 350px;
    grid-template-rows: 218px 300px 100px 116px;  
}

.containerSingolo2 .AboutUs .describe h2 {
    margin-bottom: 0px;
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #666d89;
    padding-top: 20px;
    letter-spacing: -0.2px;
}
.containerSingolo2 .AboutUs .describe p {
    font-family: 'Lato-Light',sans-serif;
    font-size: 18px;
    color: #767e9e;
    padding-top: 19px;
    line-height: 30px;
    letter-spacing: 0.13px;
}
.containerSingolo2 .AboutUs  h2 {
    margin-bottom: 0px;
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    color: #666d89;
    
    letter-spacing: -0.2px;
}
.containerSingolo2 .AboutUs  p {
    font-family: 'Lato-Light',sans-serif;
    font-size: 12px;
    color: #767e9e;
    margin-top: 0px;
    letter-spacing: 0.1px;
    padding-top: 9px;
    line-height: 21.56px;
}

.containerSingolo2 .foto01 {
    grid-area: foto01;
    padding-left: 40px;
}
.containerSingolo2 .Adam {
    grid-area: Adam;
    padding-left: 39px;
    padding-top: 1px;
}

.containerSingolo2 .foto02 {
    grid-area: foto02;
    padding-left: 9px;
}
.containerSingolo2 .Desmond {
    grid-area: Desmond;
    padding-left: 9px;
    padding-right: 10px;
    padding-top: 1px;
}
.containerSingolo2 .Desmond p {
    letter-spacing: 0.25px;
}
.containerSingolo2 .foto03 {
    grid-area: foto03;
    padding-left: 10px;
}
.containerSingolo2 .Scolara {
    grid-area: Scolara;
    padding-left: 9px;
    padding-right: 40px;
    padding-top: 1px;
}
.containerSingolo2 .Scolara p {
    letter-spacing: 0.2px;
}
.containerSingolo2 .socialAdam {
    grid-area: socialAdam;
    padding-top: 11px;
    padding-left: 41px;
}
.containerSingolo2 .socialAdam img {
    padding-right: 4px;
}
.containerSingolo2 .socialDesmond {
    grid-area: socialDesmond;
    padding-top: 11px;
    padding-left: 10px;
}
.containerSingolo2 .socialDesmond img {
    padding-right: 4px;

}
.containerSingolo2 .socialScolara  {
    grid-area: socialScolara;
    padding-top: 11px;
    padding-left: 10px;
}
.containerSingolo2 .socialScolara img {
    padding-right: 4px;
}
.containerSingolo2 .socialAdam a:hover {
    filter: brightness(0.4);
}
.containerSingolo2 .socialDesmond a:hover {
    filter: brightness(0.4);
}
.containerSingolo2 .socialScolara a:hover {
    filter: brightness(0.4);
}
.containerSingolo3 {
    display: grid;
    max-width: 1020px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    grid-template-areas: "main"
                         "footer";
    grid-template-columns: 1020px;
    grid-template-rows: 654px 76px;
    
}
.containerSingolo3 .main {
    display: grid;
    grid-area: main;
    margin: 0 auto;
    left: 0;
    right: 0;
    grid-template-areas:     ". header header header"
                             ". name contact contact"
                                ". .  contact contact"
                            ". email contact contact "
                                 ". . contact contact"
                          ". subject contact contact "
                                ". .  contact contact"
                          ". describe contact contact";
    grid-template-columns: 40px 620px 320px 40px;
    grid-template-rows: 217px 38px 16px 38px 16px 38px 16px 202px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.containerSingolo3 .header {
    grid-area: header;
    padding-top: 35px;
}
.containerSingolo3 .header h2 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    color: #f0d8d9;
    letter-spacing: -0.1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.containerSingolo3 .header p {
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #f0d8d9;
    line-height: 30px;
    padding-top: 1px;
    letter-spacing: 0.1px;
    padding-right: 0px;
}
.containerSingolo3 input[placeholder] {
    border: 1px solid #d6564f;
    border-radius: 6px;
    background-color: #d6564f ;
}
::placeholder { 
    color: #f08587;
   }
.containerSingolo3 .name  {
    grid-area: name;
    background-color: #d6564f;
    border-radius: 6px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #f08587;
    padding-top: 0px;
    padding-left: 14px;
}
.containerSingolo3 .email {
    grid-area: email;
    background-color: #d6564f;
    border-radius: 6px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #f08587;
    padding-top: 0px;
    padding-left: 14px;
}
.containerSingolo3 .subject {
    grid-area: subject;
    background-color: #d6564f;
    border-radius: 6px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #f08587;
    padding-top: 0px;
    padding-left: 14px;
}
.containerSingolo3 .describe {
    grid-area: describe;
    background-color: #d6564f;
    border-radius: 6px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #f08587;
    padding-top: 11px;
    padding-left: 15px;
    border-bottom: 6px #fff ;
}
.containerSingolo3 .describe  input[placeholder] {
 
    border: none;
    background-color: transparent;
}

.containerSingolo3 textarea {
 border: none;
 min-width: 603px;
 max-width: 603px;
 min-height: 189px;
 max-height: 189px;
 resize: none;
}
.containerSingolo3 .contact {
    grid-area: contact;
    padding-top: 0px;
}
.containerSingolo3 .contact a:hover {
   color: rgb(255, 255, 255);
}
.containerSingolo3 .contact a:link {
    color: #f0cac9;
    text-decoration: none;
 }
 .containerSingolo3 .contact h3 {
    margin-top: 0px;
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    color: #f0d8d9;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.containerSingolo3 .contact p  {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    color: #f0d8d9;
    padding-left: 19px;
    padding-top: 8px;
    line-height: 22.56px;
    margin: 0;
}

.containerSingolo3 .contact ul {
margin-top: 0px;
font-family: 'Lato-Regular', sans-serif;
font-size: 12px;
color: #f0d8d9;
line-height: 22.86px;
margin: 0px;
padding: 0px;
padding-top: 20px;
padding-left: 20px;
list-style-type: none;
position: relative;
}
.containerSingolo3 .location {

padding-right: 13px;

padding-left: 3px;
}
.containerSingolo3 .phone {
    padding-right: 11px;
    padding-left: 1px;
}
.containerSingolo3 .mail {
    padding-right: 5px;
    padding-right: 10px;
}
.containerSingolo3 .footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: ". footer_p footer_img";
    grid-template-columns: 40px 200px 780px;
    background-color: #2d303a;
}
.containerSingolo3 .footer img {
    padding-left: 1px;
    padding-right: 3px;
   
}
.containerSingolo3 .footer a:hover {
    filter: brightness(0.7);
}
.containerSingolo3 .footer_p {
    grid-area: footer_p;
    color: #666d89;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    padding-top: 19px;
    padding-left: 1px;
    letter-spacing: -0.1px;
}
.containerSingolo3 .footer_img {
    grid-area: footer_img;
    padding-right: 37px;
    justify-self: end;
    padding-top: 22px;
}
.containerSingolo3 .submit {
    font-family: 'Lato-Black', sans-serif;
    font-size: 16px;
    color: #f0d8d9;
    background-color: #d6564f;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 122px;
    border: none;
    content: "submit";
}